image: gmdotnet/php-deploy:7.0

variables:
  BUCKET_COMMIT: bucket-commit-$CI_COMMIT_SHA.tar.gz
  MYSQL_ROOT_PASSWORD: magento
  MYSQL_DATABASE: magento

cache:
  key: composer
  paths:
    - ~/.composer/cach

stages:
  - test
  - static test
  - build
  - deploy

magento:unit_test:
  image: gmdotnet/magento2-deploy:7.0
  services:
    - name: mysql:5.7
      alias: mysqle
  script:
    - export SSH_PRIVATE_KEY=$STAGE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$STAGE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/unit_test.sh
  stage: test

magento:static_test:
  image: gmdotnet/magento2-deploy:7.0
  services:
    - name: mysql:5.7
      alias: mysql
  script:
    - export SSH_PRIVATE_KEY=$STAGE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$STAGE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/static_test.sh
  stage: static test
  allow_failure: true
  dependencies:
    - magento:unit_test

#
# TODO:
# integration test cannot be run inside a pipeline
# we need to run in a stage server
#
#magento:integration_test:
#  image: gmdotnet/magento2-deploy:7.0
#  services:
#    - name: mysql:5.7
#      alias: mysql
#  cache:
#    key: composer
#    paths:
#      - ~/.composer/cache
#  script:
#    - export SSH_PRIVATE_KEY=$STAGE_SSH_PRIVATE_KEY
#    - export SSH_KEYSCAN=$STAGE_SSH_KEYSCAN
#    - /bin/sh pipelines/bin/set_ssh.sh
#    - /bin/sh pipelines/bin/unit_test.sh
#  stage: test
#  allow_failure: true

build:stage:
  image: gmdotnet/magento2-deploy:7.0
  services:
    - name: mysql:5.7
      alias: mysql
  script:
    - export USER=$STAGE_USER
    - export HOST=$STAGE_HOST
    - export HOST_DEPLOY_PATH=$STAGE_HOST_DEPLOY_PATH
    - export HOST_DEPLOY_PATH_BUCKET=$STAGE_HOST_DEPLOY_PATH/bucket
    - export BUCKET_COMMIT=$BUCKET_COMMIT
    - export SSH_PRIVATE_KEY=$STAGE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$STAGE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/build.sh
  stage: build
  only:
    - develop

deploy:stage:
  script:
    - export USER=$STAGE_USER
    - export HOST=$STAGE_HOST
    - export HOST_DEPLOY_PATH=$STAGE_HOST_DEPLOY_PATH
    - export HOST_DEPLOY_PATH_BUCKET=$STAGE_HOST_DEPLOY_PATH/bucket
    - export BUCKET_COMMIT=$BUCKET_COMMIT
    - export ENV=staging
    - export SSH_PRIVATE_KEY=$STAGE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$STAGE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/staging/deploy.sh
  stage: deploy
  environment:
      name: staging
      url: http://magento.staging
  only:
    - develop

build:production:
  image: gmdotnet/magento2-deploy:7.0
  services:
    - name: mysql:5.7
      alias: mysql
  script:
    - export USER=$LIVE_USER
    - export HOST=$LIVE_HOST
    - export HOST_DEPLOY_PATH=$LIVE_HOST_DEPLOY_PATH
    - export HOST_DEPLOY_PATH_BUCKET=$LIVE_HOST_DEPLOY_PATH/bucket
    - export BUCKET_COMMIT=$BUCKET_COMMIT
    - export SSH_PRIVATE_KEY=$LIVE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$LIVE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/build.sh
  stage: build
  only:
    - master

deploy:production:
  script:
    - export USER=$LIVE_USER
    - export HOST=$LIVE_HOST
    - export HOST_DEPLOY_PATH=$LIVE_HOST_DEPLOY_PATH
    - export HOST_DEPLOY_PATH_BUCKET=$LIVE_HOST_DEPLOY_PATH/bucket
    - export BUCKET_COMMIT=$BUCKET_COMMIT
    - export ENV=production
    - export SSH_PRIVATE_KEY=$LIVE_SSH_PRIVATE_KEY
    - export SSH_KEYSCAN=$LIVE_SSH_KEYSCAN
    - /bin/sh pipelines/bin/set_ssh.sh
    - /bin/sh pipelines/bin/production/deploy.sh
  stage: deploy
  environment:
      name: production
      url: https://magento.production
  only:
    - master
